<footer id="footer">
  <a class="footer-link" href="https://www.linkedin.com/in/tejashree-r-0861101a5/"><i class="fab fa-linkedin-in"></i></a>
  <a class="footer-link" href="https://github.com/TejashreeR"><i class="fab fa-github"></i></a>
  <a class="footer-link" href="https://www.twitter.com/"><i class="social-icon fab fa-twitter"></i></a>
  <p> © Copyright 2020 </p>

</footer>

</body>
</html>
